body {
    background-color: #A77C7C;
    font-family: "Georgia", "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

header {
    color: #EEEEEE;
    text-align: center;
    padding: 1em 0;

}

nav {
    background-color: #FFC6C6;
    padding: 1em;
    text-align: center;
    color : black;
}

nav ul {
    
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    margin: 20px;
}

aside {
    color: ;black
    padding: 20px;
    width: 20%;
}

.left {
    background-color: #FFC6C6;
    margin-right: 10px;
}

.kontak a {
    color: black;
    text-decoration: none; 
}

.kontak a:hover {
    color: blue; 
    text-decoration: underline; 
}

.kontak {
    color: black;
    margin-right: 10px;
    background-color: #FFE7C5;
}
main {
    background-color: #FFE7C5;
    padding: 20px;
    width: 80%;
    margin: auto;    
}
.form-transaksi {
    background-color: #FFE7C5;
    padding: 20px;
    width: 80%;
    margin: 0;    
}

footer {
    color: white;
    text-align: center;
    padding: 1em 0;
    position:;
    width: 100%;
    bottom: 0;
}

header, footer {
    background-color: #C75B7A;
    background-position: flex;
}


